RUST_LOG=elzhbieta=debug,tuya=debug,info
MQTT_ADDRESS=mqtt://localhost:1883
MQTT_USER=elzhbieta
MQTT_PASS=123mqtt
ELZHBIETA_DEVICES=[{"room":"bedroom","device_id":"DEVICE_ID","local_key":"LOCAL_KEY","version":"3.3","host":"10.0.1.10"},{"room":"living_room","device_id":"DEVICE_ID","local_key":"LOCAL_KEY","version":"3.3","host":"10.0.1.11"}]
