[package]
name = "alisa"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
alice = { path = "../../lib/alice" }
transport = { path = "../../lib/transport" }

pretty_env_logger = "0.5"
log = "0.4"

url = "2.5"

axum = "0.8"
chipp_http = "1.2"

tokio = { version = "1", features = ["macros", "rt-multi-thread", "net", "time", "signal"] }
futures-util = "0.3"

jsonwebtoken = "9.3"
chrono = { version = "0.4", features = ["std", "clock"], default-features = false }

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_urlencoded = "0.7"

paho-mqtt = "0.13.2"

uuid = { version = "1.16", features = ["v4", "fast-rng"] }
