[package]
name = "isabel"
version = "0.1.0"
edition = "2021"

[dependencies]
bluetooth = { path = "../../lib/bluetooth" }
transport = { path = "../../lib/transport" }

tokio = { version = "1", features = ["macros", "rt-multi-thread", "time"] }
paho-mqtt = "0.13.2"

pretty_env_logger = "0.5"
log = "0.4"

serde_json = "1.0"

rusqlite = "0.34"
