name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04-arm

    strategy:
      matrix:
        binary:
          - alisa
          - elisa
          - elisheba
          - elizabeth
          - isabel

    steps:
      - uses: actions/checkout@v4

      - name: Log into registry
        run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v1

      - name: Verify rust versions match
        run: |
          TOOLCHAIN_VERSION=$(sed -n 's/^channel[[:space:]]*=[[:space:]]*"\([^"]*\)".*/\1/p' rust-toolchain.toml)
          FILE_VERSION=$(cut -d_ -f1 .rust-version)

          if [ "$TOOLCHAIN_VERSION" != "$FILE_VERSION" ]; then
            echo "Version mismatch: rust-toolchain.toml=$TOOLCHAIN_VERSION .rust-version=$FILE_VERSION"
            exit 1
          fi

      - name: Test
        run: |
          IMAGE_ID=ghcr.io/chipp/${{ matrix.binary }}
          RUST_VERSION=$(cat .rust-version)

          docker buildx build . --file bin/${{ matrix.binary }}/test.Dockerfile \
             --output type=cacheonly \
             --tag $IMAGE_ID:latest \
             --build-arg RUST_VERSION="${RUST_VERSION}" \
             --cache-from=type=gha,scope=${{ matrix.binary }}-test \
             --cache-to=type=gha,scope=${{ matrix.binary }}-test,mode=max

          docker buildx build . --file bin/${{ matrix.binary }}/Dockerfile \
             --output type=cacheonly \
             --tag $IMAGE_ID:latest \
             --build-arg RUST_VERSION="${RUST_VERSION}" \
             --cache-from=type=gha,scope=${{ matrix.binary }} \
             --cache-to=type=gha,scope=${{ matrix.binary }},mode=max
